* {
    box-sizing: border-box;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 62.5%;
}

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accueil h1 {
    font-size: 6rem;
    margin-top: 20vh;
    text-align: center;
}

.accueil ul {
    display: flex;
    list-style: none;
    gap: 10vh;
    text-align: center;
    font-size: 4rem;
    margin-top: 15vh;
}

.accueil ul li {
    display: flex;
    list-style: none;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(92, 92, 161);
    padding: 1vh 2vw;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.accueil a {
    text-decoration: none;
}


.formSignUp h2 {
    text-align: center;
    margin-top: 15vh;
    font-size: 6rem;
}

.formSignUp form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 10vh;
}

.formSignUp form input {
    border-radius: 7px;
    padding: 1vh 0;
    padding-left: 1vw;
    display: block;
}

.formSignUp form label {
    margin: 2vh 0px;
}


.formSignUp form input[type="submit"] {
    border-radius: 7px;
    display: block;
    padding: 1vh 1vw;
    margin-top: 2vh;
}


.homePlayer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.homePlayer .gauche {
    font-size: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.homePlayer .gauche .h2 {
    font-size: 6rem;

}

.homePlayer .gauche a {
    font-size: 4rem;

}


.homePlayer .droite ul {
    display: flex;
    flex-direction: column;
    width: 30vw;
}


.homePlayer .droite ul li:nth-child(2n) {
    background-color: rgb(198, 198, 198);
}

.homePlayer .droite ul li:nth-child(2n+1) {
    background-color: rgb(232, 232, 232);
}


.homePlayer .droite ul li {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    padding: 2vh 2vw;
}

.homePlayer .droite ul li .btnInvit {
    all: initial;
    padding: 1vh 2vw;
    background-color: white;
    border-radius: 10px;
}

.homePlayer .droite ul li .btnInvit:hover {
    cursor: pointer;
}



.gauche .btngames p {
    font-size: 2rem;
    padding: 1vh 2vw;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
}

.gauche .btngames p:hover {
    cursor: pointer;
}

.gauche .btngames {
    display: flex;
    gap: 3vw;
}


.games {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* Styles pour la section de la carte */
.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styles pour la colonne du joueur 1 */
.player1 {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}

/* Styles pour la colonne du joueur 2 */
.player2 {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

/* Styles pour les noms des joueurs */
.player1 span,
.player2 span {
    font-size: 2rem;
    font-weight: bold;
}

/* Styles pour les scores des joueurs */
.player1 span:last-child,
.player2 span:last-child {
    font-size: 3rem;
    color: #007bff;
    /* Couleur du score */
}

.vs {
    font-size: 2rem;
    text-align: center;
}


/*PAGE GAME*/

.titre_questionnaire {
    font-size: 4rem;
}

.debut_partie p {
    font-size: 2.5rem;
    padding: 2vh 3vw;
    background-color: rgb(56, 106, 149);
    text-align: center;
    width: 30%;
    border-radius: 10px;
    transition: 1s;
}

.debut_partie p:hover {
    cursor: pointer;
    border-radius: 20px;
}

.debut_partie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5vh;
}



.question {
    text-align: center;
    margin-top: 20vh;
    font-size: 5rem;
}

.reponses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-top: 5vh;
    gap: 6vh;
}

.reponses li {
    box-shadow: 0px 10px 13px -7px #000000;
    padding: 1vh 0;
    text-align: center;
    width: 20vw;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.reponses li:hover {
    cursor: pointer;
    box-shadow: 0px 5px 8px -7px #000000;

}


.suivant p, .fin p{
    text-align: center;
    margin-top: 4vh;
    font-size: 2rem;
    box-shadow: 0px 10px 13px -7px #000000;
    padding: 1vh 0;
    width: 15vw;
    border-radius: 5px;
    transition: box-shadow 600ms;
}

.suivant p:hover, .fin p{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #000000;
    border: 1px solid grey;
}

.suivant, .fin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}





.cacher {
    display: none;
}

.correct-answer {
    box-shadow: 0px 10px 13px -7px rgb(13, 112, 13) !important; 
    background-color: rgb(13, 112, 13);
    /* Couleur verte pour les bonnes réponses */
}

.wrong-answer {
    box-shadow: 0px 10px 13px -7px rgb(112, 13, 13) !important;
    /* Couleur rouge pour les mauvaises réponses */
    background-color: rgb(112, 13, 13);
}